.panels {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.panels span {
  border: 0.2em solid #808080;
  padding: 1em;
}

.details p {
  font-style: italic;
}

@media (max-width: 50em) {
  .panels {
    flex-direction: column;
  }
}
